extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Lời mời đã gửi")

        include ../../partials/sub-btn-users.pug

        .row
            each user in users
                .col-6
                    div(class="box-user add")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar ? user.avatar : "https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png")
                                alt=user.fullName
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accept-friend=user.id
                                ) Chấp nhận
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-refuse-friend=user.id
                                ) Xóa
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-deleted-friend
                                    disabled
                                ) Đã xóa
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accepted-friend
                                    disabled
                                ) Đã chấp nhận
                                
    block script 
        script(src="/js/users.js") 
    